<div class="row">
	<div class="col-md-3" >
        <div class="container-fluid">
            <img class=".img-responsive img-rounded" src="assets/img/myface.png">
        </div>

	</div>
	<div class="col-md-9">
		<div class="container-fluid">
			<p>Welcome to Annie Tsai's Domain! </p>
			<p> 
				This is my playground for all things web. I will constantly be updating this site for improvments or new features. Stay tuned!
			</p>
		</div>

		<div class="container">
			<p> 
				I am an avid Web Developer with a background in Computer Science at the Georgia Institute of Technology. My goal is to learn all things development. This site is my way of tapping into the web development/designing world. Hope you guys like it!
			</p>
		</div>
	</div>
</div>
