<div class="row">
    <img class="center-block logo-header" src="assets/img/logo.png">


</div>

<div class="cropheaderimage">
    <img class="center-block banner" src="assets/img/headerImage.jpg">
</div>

<div class="row">
	<div class="col-md-4" align="center">
        <div class="container-fluid">
            <img class=".img-responsive img-rounded" src="assets/img/myface.png">
        </div>

	</div>
	<div class="col-md-8">
		<div class="container-fluid">
			<p>{{pageTitle}}</p>
			<p>{{WebDescription}}</p>
            <p>{{AboutMe}}</p>
		</div>
	</div>
</div>
