<div>
    <h2 class="page-title">{{pageTitle}}</h2>
</div>

<div align="center">
    <iframe src="https://docs.google.com/document/d/1aczFh3BVGftVUCpufooy_wPhtbS9SH8sNdpULCCK2H8/pub?embedded=true" style="width:60%; height:1000px;"></iframe>
</div>


<!--<p>Skills</p>-->
<!--<div ng-repeat="skill in skills">-->
    <!--<p class="skill">{{skill}}</p>-->
<!--</div>-->
<!--<form>-->
    <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" ng-model="skill" id="skill" placeholder="enter skill">-->
    <!--</div>-->
    <!--<button type="submit" ng-click="addSkill(skill)" class="btn btn-default">Add</button>-->
<!--</form>-->

<!--<p>Education</p>-->
<!--<form>-->

<!--</form>-->

